<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp Microservice</title>

    <!-- CSS theme to format code -->
    <link href="/libraries/rainbow/css/paraiso-light.css" rel="stylesheet" type="text/css">

    <!-- Main CSS -->
    <link href="/view/main.css" rel="stylesheet" type="text/css">
  </head>

  <body>

    <!-- Main HTML content -->
    <div class="ct ct-main">
      <h1>
        <large>Free Code Camp:</large> <br>
        Timestamp Microservice
      </h1>
      <br>

      <h3>Example usage:</h3>
      <pre><code data-language="html">
        https://fcc-dc-timestamp.herokuapp.com/December%2015,%202015
        https://fcc-dc-timestamp.herokuapp.com/1450137600
      </code></pre><br>

      <h3>Example output:</h3>
      <pre><code data-language="javascript">
        { "unix": 1450137600, "natural": "December 15, 2015" }
      </code></pre>
    </div>

    <!-- Javascript libraries to format code -->
    <script src="/libraries/rainbow/js/rainbow.min.js"></script>
    <script src="/libraries/rainbow/js/html.js"></script>
    <script src="/libraries/rainbow/js/javascript.js"></script>
  </body>
</html>
